<!DOCTYPE html>
<html>

<head>
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <title>Retro Video Games</title>
    </head>
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    <div>       
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        Popular Games of the past.
    </div>
    <!-- delete the comment bellow
    To dsiplay an image all you need to do is use the image tag and put in the URI
    that you implemented in flask, in this case there is a flask route '/image/james'
    that serves this response.-->
    <!-- <img src="/image/james" width=100px height=100px> -->
</body>

</html>